<a href="https://colab.research.google.com/github/wesleyesantos/POSTECH/blob/main/Produ%C3%A7%C3%A3o_Hospitalar.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Analisando dados de produção hospitalar

In [1]:
import pandas as pd

####Erro por falta do content

In [ ]:
#Código incorreto por falta do content
dados = pd.read_csv("A150850189_28_143_208.csv", encoding = "ISO-8859-1", skiprows = 3,
                    sep = ";", skipfooter= 12, thousands = ".", decimal = ",")

In [23]:
#dados é o dataframe ou dataset
#Código correto
dados = pd.read_csv("/content/A150850189_28_143_208.csv",encoding='ISO-8859-1', skiprows=3, sep=';',skipfooter=12, thousands='.', decimal=',',engine='python') #2ª célula

In [ ]:
#mostra as 5 primeiras linhas da tabela ou a quantidade definida
dados.head()

In [ ]:
#Trás as últimas linhas
dados.tail()

In [33]:
#Trás as médias
dados.mean()

<ipython-input-33-99af3ba13e28>:1: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2007/Ago    3.049528e+05
2007/Set    7.881453e+05
2007/Out    2.440163e+06
2007/Nov    5.517354e+06
2007/Dez    1.233716e+07
                ...
2021/Mai    8.727186e+07
2021/Jun    7.759041e+07
2021/Jul    6.084629e+07
2021/Ago    4.388572e+07
Total       6.852321e+09
Length: 170, dtype: float64

In [38]:
# pd.options (nas opções) display (mostra) float_float (Flutuante)
#":" (dois pontos) a partir de "." (ponto) então mostre
pd.options.display.float_format = "{:.4f}".format

In [48]:
#retorna a média
dados.mean()

<ipython-input-48-f55a8b0d0e99>:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  dados.mean()

2007/Ago       304952.7741
2007/Set       788145.2585
2007/Out      2440162.9637
2007/Nov      5517354.0493
2007/Dez     12337159.4222
                 ...
2021/Mai     87271862.2007
2021/Jun     77590406.4656
2021/Jul     60846287.0137
2021/Ago     43885716.2985
Total      6852320913.4852
Length: 170, dtype: float64

In [49]:
#retorna informações de tipo dos dados, quantidade de memória utilizada, quantidade de entradas, células nulas
dados.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 27 entries, 0 to 26
Columns: 293 entries, Unidade da Federação to Total
dtypes: float64(170), object(123)
memory usage: 61.9+ KB